/*
#video-grid {
  display: none;
  grid-template-columns: 1fr;
  grid-auto-rows: 300px;
  margin: 20px 0;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
} */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Adicione esta classe para o contêiner da tabela */
.table-container {
    display: flex; /* Flexbox para centralização */
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%; /* Para garantir que ocupe toda a largura */
    margin: 20px 0; /* Espaçamento superior e inferior */
}

table {
    width: 80%; /* Defina a largura da tabela */
    border-collapse: collapse; /* Remove espaços entre as células */
    margin: auto; /* Centraliza a tabela */
}


/* Estilo do Grid de Vídeo */
#video-grid {
    display: none; /* Ocultar inicialmente */
    justify-content: center; /* Centraliza vídeos */
    margin-top: 20px; /* Espaçamento acima do grid de vídeo */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    margin: 20px;
    flex-wrap: wrap;
    gap: 10px;
    width: 640px;
    height: 480px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

/* Estilo dos vídeos */
.video {
    width: 100%;
    flex: 1 1 100%;
    background-color: #000;
    border-radius: 8px;
    height: 100%; /* Altura de cada vídeo */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

/* Responsividade tem que ajustar */
@media (max-width: 600px) {
    #info-panel {
        margin: 10px;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }

    video {
        height: 200px; /* Ajuste a altura em telas pequenas */
    }
}


  .bus-stop-display {

    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
  }
  #display{
    display: grid;
    
  }
  .bus-stop-display {
    width: 500px; /* Ajuste conforme necessário */
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
 tr{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #555;
    width: 100%;
  }

td {
    
    vertical-align: middle; /* Alinha verticalmente o conteúdo das células ao meio  LEEMMMMBREE*/
    padding: 10px; 
    text-align: center; /* Centraliza o texto horizontalmente */
}
td:nth-child(1) { width: 10%; } /* Ajustar conforme necessário */
td:nth-child(2) { width: 40%; }
td:nth-child(3) { width: 10%; }
td:nth-child(4) { width: 20%; }
img{
    height: 50px;
    width: 50px;
}
  .bus-line-div:last-child {
    border-bottom: none;
    font-size: 16px;
    color: #ffffff;
  }
  .bus-line-titulo{
    font-size: 18px;
    width: 40%;
    color: #00aced;
  }
  .bus-number-titulo {
    font-size: 18px;
    width: 10%;
    color: #ed0000;
  }
  .arrival-time-titulo {
    font-size: 18px;
    width: 10%;
    color: #f39c12;
  }
  .status-titulo {
    font-size: 18px;
    width: 20%;
    color: #2ecc71;
  }

  .footer {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
}

/* Estilos para os botões de emergência */
.emergency-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 20px;
}

  .emergency-buttons button {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #police-button { background-color: #2432b1; } /* azul para Polícia */
  #fire-button { background-color: #c9302c; } /* Vermelho para Bombeiros */
  #medic-button { background-color: #27ae60; } /* verde para Socorristas */
  #panic-button { background-color: #000000; } /* preto para Pânico */

  .emergency-buttons button:hover {
    opacity: 0.8;
  }
  .bus-line-div{
    display: flex;
  justify-content: space-around; /* Distribui espaço uniformemente */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  gap: 10px; /* Espaçamento entre os itens */
  }